body, html {
    height: 100%;
  }
.NB{
    margin-left: 0;
}
.parallax {
  /* The image used */
  background-image: url("./Assets/Dog1.jpg");

  /* Full height */
  margin-top: 0;
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}